body {
  
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 25px;

	
    color: white
}
.bg-custom{
	background-color:#73868c;
	/*box-shadow: 0px 4px 25.65px 1.35px #274946;*/
}
.navbar {
    -webkit-box-shadow: 0px 4px 25.65px 1.35px #274946;
    -moz-box-shadow: 0px 4px 25.65px 1.35px #274946;
    box-shadow: 0px 4px 25.65px 1.35px #274946;

    /* the rest of your styling */
}
.navbar-dark .navbar-nav .active>.nav-link>span, 
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
	padding-bottom: 10px;
  border-bottom: 2px solid white;
  
}
#icon {
    width:50%; /* you can use % */
    height: auto;
}
.navbar-brand{
	padding-left:10px;
}

.background{
    background-image: url("../../assets/Layer 5.png");
    background-repeat: no-repeat;
	min-width: 100%;
    height: 894px;
	background-size:cover;
	background-color:#5b6b6e;
  
}
.holder{
	height: 100%;
	
	float:left; 
}
#overview>.section1{
	padding: 0;
}
#overview>.section2{
background-color:  #cccccc;
width: 100%;
height:429px;
float: right;
}
.text{

	float: left;
	top:30%;

}
.text>p{
	text-align:center;
	 font-size: 2vh;
	 font-weight:400;


}
.textHolder{
	color: black;
	margin:auto;
	float: left;
	position: relative;
   background-color:white;
	top:30%;
}
.textHolder>p{
	margin:auto;
}
.textHolder>p>span.head{
	font-weight: 700;
	font-size: 6vh;
	
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center;
}
.text>p.header, .header{
	font-size: 10vh; 
	font-weight: 200;
	line-height: 12vh;/* Approximation due to font substitution */
	text-align: center;
}
.phone{
	 background-image: url("../../assets/phone.png");
    background-repeat: no-repeat;
	min-width: 5%;
    height: 506px;
	background-size:contain;
	float:right;
	padding-right:30%;
	
	
}
#h1{ font-size: 10vh; 
	font-weight: 100;
	line-height: 12vh;/* Approximation due to font substitution */
	text-align: center; }
#Examples{
	background-color: #3db4c3;
	float:left;
	width:100%;
}
#Videos{
	background-color: black;
	float:left;
	width:100%;
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	
.navbar-collapse{
	float: left;
	width:100%;		
	background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	}

#navbar {
  position: absolute;
  z-index: 1;
}
#menu, .navbar{
	padding:0;
}
.nav-link{
	text-align:center;
}
.nav-item{
	padding:30px;
	margin:auto;
}
ul.navbar-nav{
	padding: 80px 10px 80px 10px;
}
#overview{
	position:relative;
	
}
.section1{
	padding: 0;
}
.background>.text{
background-color: #5b6b6d;
padding: 10px 0 10px 0;
top: 0;

}
.background>.text>p{
	text-align:center;
	 font-size: 3vh;
	 font-weight:400;

}

.background>.text>p.header{
	font-size: 8vh; 
	font-weight: 100;
	line-height: 8vh;/* Approximation due to font substitution */
	text-align: center;
}
#overview>.section2{

height:100%;
}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}
