

#Examples{
	background-color: #3db4c3;
	float:left;
	width:100%;
}
.quad{
	float:left;
}
.center{
	float:left;
}

#Examples>.container>.quad>.center{
	display:block;
	
	
}

.title span 
{
	text-align:left!important;
	width:80%;
    display: block;
}
.title>.sub{
	font-weight:300;
}



.image {
  opacity: 1;
  display: table-cell;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle>span{
	color:white;
	font-size:3em;
}
.imageContainer:hover .image {
  opacity: 0.3;
}
.imageContainer{
	background-color:black;
	cursor:pointer;
	margin-top:10px;
	margin-bottom:10px;
	width:80%;
	height:auto;
	display:table;

}
.imageContainer:hover .middle {

  opacity: 1;
}

