body {
  
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 25px;

	
    color: white
}
.bg-custom{
	background-color:#73868c;
	/*box-shadow: 0px 4px 25.65px 1.35px #274946;*/
}
.navbar {
    -webkit-box-shadow: 0px 4px 25.65px 1.35px #274946;
    -moz-box-shadow: 0px 4px 25.65px 1.35px #274946;
    box-shadow: 0px 4px 25.65px 1.35px #274946;

    /* the rest of your styling */
}
.navbar-dark .navbar-nav .active>.nav-link>span, 
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
	padding-bottom: 10px;
  border-bottom: 2px solid white;
  
}
#icon {
    width:50%; /* you can use % */
    height: auto;
}
.navbar-brand{
	padding-left:10px;
}
#overview{
	position:relative;
	height:894px;
	top:77px;
	
}
.section1{
	background-image: url("../../assets/Layer 5.png");
    background-repeat: no-repeat;
	min-width: 100%;
  
	background-size:cover;
	background-color:#5b6b6e;
}
.section1.col-lg-12{
	height:100%;
	padding:0
}
#overview>.section1>#picture{
	height:100%;
	background-color:rgba(255,0,0,50%);
}
#overview>.section1>#text{
	height:100%;
		background-color:rgba(0,255,0,50%);
}
.element{
	float:left;
	width:50%;
	
}
#overview>.section2>.phone{

height:429px;
background-color:#cccccc;
}
#over

@media only screen and (max-width : 991px) {
	
.navbar-collapse{
	float: left;
	width:100%;		
	background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	}

#navbar {
  position: absolute;
  z-index: 1;
}
#menu, .navbar{
	padding:0;
}
.nav-link{
	text-align:center;
}
.nav-item{
	padding:30px;
	margin:auto;
}
ul.navbar-nav{
	padding: 80px 10px 80px 10px;
}
#overview{
	position:relative;
	
}
.section1{
	padding: 0;
}
.element{
	
	width:100%;
	
}
}

